<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.Core" version="6.0.0-be.549" targetFramework="net461" />
  <package id="BepInEx.Unity" version="6.0.0-be.549" targetFramework="net461" />
  <package id="Digitalroot.Valheim.Common.References" version="0.205.7" targetFramework="net461" />
  <package id="HarmonyX" version="2.9.0" targetFramework="net461" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.2" targetFramework="net461" />
  <package id="LitJson" version="0.17.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net461" />
  <package id="MonoMod.RuntimeDetour" version="22.1.29.1" targetFramework="net461" />
  <package id="MonoMod.Utils" version="22.1.29.1" targetFramework="net461" />
  <package id="SemanticVersioning" version="2.0.0" targetFramework="net461" />
  <package id="UnityEngine" version="5.6.1" targetFramework="net461" />
  <package id="UnityEngine.Modules" version="2019.4.31" targetFramework="net461" developmentDependency="true" />
</packages>